<div id = "header" class = "flexLeft">
	<a routerLink = "/" class = "extraLargeFont flex">Revature Courseware Cornucopia</a>
	
	<div *ngIf = "dataService.user.username" class = "flex largeGap">
		<p>{{ dataService.user.firstName }} {{ dataService.user.lastName }}</p>
		<div id = "cart-btn" routerLink = "/cart">🛒 {{ dataService.user.cart.length }}</div>
		
		<a id="logout-btn" (click) = "logout ();">Logout</a>
	</div>
	
	<div *ngIf = "!dataService.user.username && router.url !== '/login' && router.url !== '/register'" class = "flex largeGap">
		<a id="register-btn" routerLink = "/register">Register</a>
		
		<a id="login-btn" routerLink = "/login">Login</a>
	</div>
</div>