#header {
	width: 100vw;
	height: 6.5vh;
	padding: 10px 30px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, .5);
	border-bottom: 1px solid rgba(0, 0, 0, .5);
}

#header > a {
	font-family: Mea Culpa;
}