<div class="product">
    <div class = "productImageContainer">
		<img class = "productImage" src = {{product.imageUrl}}>
		
		<img *ngIf = "product.salePrice" class = "saleRibbon" src = "assets/img/saleRibbon.png">
	</div>
	
	<div class = "productInfo flexColumn smallGap">
		<p class = "extraLargeFont">{{ this.product.name }}</p>
		
		<form action="">
            <br>

            <label for="sale-price">Name</label>
            <br>
            <input type="text" class = "edit price-input" value="{{ this.product.name }}">

            <br>

            <label for="sale-price">Product Description</label>
            <br>
            <textarea type="text" class = "edit description-input" cols="40" maxlength="255" value="{{ this.product.description }}"></textarea>

            <br>

            <label for="sale-price">Regular Price</label>
            <br>
            <label for="price-input">$</label>
            <input type="text" class = "edit price-input" value="{{ this.product.price }}">

            <br>

            <label for="sale-input">Sale Price</label>
            <br>
            <label for="sale-input">$</label>
            <input type="text" class = "edit sale-input" value="{{ this.product.salePrice }}" placeholder="No current sale">
        </form>
		
	</div>
</div>