<div class = "product flex">
	<div class = "productImageContainer flex">
		<img class = "productImage" src = {{product.imageUrl}}>
		
		<img *ngIf = "product.salePrice" class = "saleRibbon" src = "assets/img/saleRibbon.png">
	</div>
	
	<div class = "productInfo flexColumn mediumGap">
		<p class = "extraLargeFont">{{ product.name }}</p>
		
		<div class = "flex smallGap">
			<p class = "mediumFont">{{ (product.salePrice ? product.salePrice : product.price) | currency }}</p>
			
			<p *ngIf = "product.salePrice" class = "oldPrice mediumFont">{{ product.price | currency }}</p>
		</div>
		
		<div class = "flex">
			<p class = "productDescription smallFont">{{ product.description }}</p>
		</div>
		
		<ng-template [ngIf] = "product.stock > 0 && dataService.user.username">
			<div *ngIf = "!inCart" class = "cartControls flex smallGap">
				<input [(ngModel)] = "quantityInput" (input) = "onQuantityInput ($event);" class = "quantityInput mediumFont" type = "number">
				
				<button class = "cartButton mediumFont" type = "button" (click) = "addToCart (quantityInput);">Add to Cart</button>
			</div>
			
			<div *ngIf = "inCart" class = "cartControls flexColumn smallGap">
				<button class = "cartButton mediumFont" type = "button" routerLink = "/cart">Go to Cart</button>
				
				<p *ngIf = "cartMessage mediumFont" id = "cartMessage">Added to Cart</p>
			</div>
		</ng-template>
		
		<p *ngIf = "product.stock < 1" class = "errorMessage mediumFont">Out of stock!</p>
	</div>
</div>