<div class="content">

    
        <div class="form-item">
            <label for ="usernameInput">Username</label>
            <br>
            <input type="text" name="usernameInput" id="username" [(ngModel)]="identifier">
        </div>

        <div class="form-item">
            <label for ="passwordInput">Password</label>
            <br>
            <input type="password" name="passwordInput" id = "password" [(ngModel)]="passwordInput">
        </div>
        <br>
        <div class="form-item-btn">
            <button class="btn btn-primary" (click)="loginUser()">Login</button>
        </div>
    
</div>