<div class = "formContainer flexColumn largeGap">
	<p class = "extraLargeFont">Login</p>
	
	<div class = "flexColumnLeft mediumGap">
		<p class = "mediumFont">Username</p>
		
		<input [(ngModel)] = "identifierInput" (keydown) = "onKeyDown ($event);" class = "mediumFont" />
	</div>
	
	<div class = "flexColumnLeft mediumGap">
		<p class = "mediumFont">Password</p>
		
		<input [(ngModel)] = "passwordInput" (keydown) = "onKeyDown ($event);" class = "mediumFont" type = "password" />
	</div>
	
	<p *ngIf = "errorMessage" class = "mediumFont errorMessage">{{ errorMessage }}</p>
	
	<button (click) = "login ();" class = "mediumFont">Login</button>
	
	<a routerLink = "/register" class = "mediumFont">Register</a>
</div>