<div routerLink = "/product/{{ product.id }}" id="product#{{product.id}}" class = "product flexColumn mediumGap">
	<div class = "productImageContainer flex">
		<img class = "productImage" src = {{product.imageUrl}}>
		
		<img *ngIf = "product.salePrice" class = "saleRibbon" src = "assets/img/saleRibbon.png">
	</div>
	
	<div class = "productInfo flexColumn smallGap">
		<p class = "mediumFont">{{ product.name }}</p>
		
		<div class = "flex smallGap">
			<p class = "mediumFont">{{ (product.salePrice ? product.salePrice : product.price) | currency }}</p>
			
			<p *ngIf = "product.salePrice" class = "oldPrice mediumFont">{{ product.price | currency }}</p>
		</div>
		
		<div class = "flex">
			<p class = "productDescription smallFont">{{ product.description }}</p>
		</div>
	</div>
</div>