<div class="product">

	<div class="card">
		<div id="img-container" class="card-img-top">
			<img id="product-img"
				src="https://i.pcmag.com/imagery/reviews/01hmxcWyN13h1LfMglNxHGC-1.fit_scale.size_1028x578.v1589573902.jpg"
				alt="">
			<img *ngIf="product.salePrice" class="on-sale-tag" src="../../../assets/img/on-sale-ribbon.png" alt="">

		</div>
		<div class="card-body description">
			<p class="card-title mediumFont">{{ this.product.name }}</p>
			<span class="price-container">
				<span *ngIf="!product.salePrice" id="product-price">${{ this.product.price }}</span>
				<span *ngIf="product.salePrice" id="old-price"> ${{ this.product.price }}</span>

				<span *ngIf="product.salePrice" id="sale-price">${{this.product.salePrice}}</span>
			</span>
			<div class="description flex">
				{{this.product.description}}
			</div>
		</div>
	</div>





</div>