<div class = "product">

	<div id="ribbon-container" *ngIf="product.salePrice">
		<span id="ribbon-point"></span>
		<span id="ribbon"> SALE </span>
		<!-- will be updated soon -->
	</div>
	<div id="ribbon-container" *ngIf="!product.salePrice">
		
		<!-- will be updated soon -->
	</div>

	<div id="img-container">
		<img id="product-img"src="https://i.pcmag.com/imagery/reviews/01hmxcWyN13h1LfMglNxHGC-1.fit_scale.size_1028x578.v1589573902.jpg" alt="">
	</div>
	

	<div class = "description">
		<p>{{ this.product.name }}</p>
		
		<p>{{ this.product.description }}</p>

		<span id="price-container">
			<span *ngIf="!product.salePrice" id="product-price">${{ this.product.price }}</span>
			<span *ngIf="product.salePrice" id="old-price"> ${{ this.product.price }}</span>

			<span *ngIf="product.salePrice" id="sale-price">${{this.product.salePrice}}</span>
		</span>

	</div>
	
	
	
</div>