#search {
	width: 40vw;
}

#searchInput {
	flex-grow: 1;
	background: var(--theme-background-color);
}

#searchButton {
	height: 100%;
	background: var(--theme-background-color);
}

#products {
	flex-wrap: wrap;
}
