#products{
    margin-top: 15px;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
}

#div1 {
    width:90%;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    border: black solid 1px;
    background-color: orange;
    border-radius:5px;
    box-shadow: 5px 5px 5px 1px grey;
    display: flex;
justify-content:space-between;
}

#div2 {
    display: flex;
    flex-direction:column;
    /* border: red solid 1px; */
    width: 50%;
}

.mb-3 {
    width: 90%;
    /* display: flex; */
    /* border: yellow solid 1px; */

}

#picdiv {
    width:75px;
    height:75px;
    /* border: green solid 1px; */ 
    border-radius:5px;
}

#checkout {
border: black solid 1px;
width:25%;
background-color: white;
}

#container {
    display: flex;
   /*  border:grey solid 1px; */
    justify-content: center;
}

#content {
    margin-left: 15px;
    margin-top:10px;
}