#products{
    margin-top: 15px;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
}

#div1 {
    width:50%;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    border: black solid 1px;
    background-color: orange;
    border-radius:5px;
    box-shadow: 5px 5px 5px 1px grey;
    display: flex;
justify-content:space-between;
}

#div2 {
    display: flex;
    flex-direction:row;
    /* border: red solid 1px; */
}

.mb-3 {
    width: 90%;
    /* display: flex; */
    /* border: yellow solid 1px; */

}

#picdiv {
    width:75px;
    height:75px;
    /* border: green solid 1px; */ 
    border-radius:5px;
}
