@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

::-webkit-scrollbar {
	display: none;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: gray/*white*/;
}

p, pre, a, label {
	margin: 0;
	padding: 0;
	font-family: Arial;
	word-wrap: break-word;
}

button, input, textarea {
	outline: none;
	border: none;
	padding: 10px;
	box-sizing: border-box;
	background: white;
}

button {
	cursor: pointer;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexLeft {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flexColumnTop {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.page {
	width: 100%;
	flex-grow: 1;
	overflow-y: scroll;
	padding: 20px 10vw;
	box-sizing: border-box;
	gap: 20px;
}

.extraSmallFont {
	font-size: 13px;
}

.smallFont {
	font-size: 15px;
}

.mediumFont {
	font-size: 18px;
}

.largeFont {
	font-size: 20px;
}

.extraLargeFont {
	font-size: 35px;
}