::-webkit-scrollbar {
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	background: gray/*white*/;
}

p, pre, a, label {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Arial;
	word-break: break-word;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexLeft {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page {
	width: 100%;
	flex-grow: 1;
	overflow-y: scroll;
}

.extraSmallFont{
	font-size: 13px;
}

.smallFont {
	font-size: 15px;
}

.mediumFont {
	font-size: 18px;
}

.largeFont {
	font-size: 20px;
}