.checkoutContainer {
	width: 670px;
	max-width: 90vw;
	padding: 15px;
	background: var(--theme-color-2);
	box-sizing: border-box;
	border-radius: 4px;
}

.checkoutInputContainer {
	width: 100%;
}

.checkoutInput {
	width: 100%;
	background: var(--theme-color-3);
}

#cartTotals > div {
	width: 100%;
	justify-content: space-between;
}

.cartButton {
	width: 100%;
}