.checkout-container{
    background-color: #F26925;
    width: 550px;
    height: 650px;
    margin: 7em auto;
    border-radius: 0px;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.14);
    padding: 2rem;
}


.billing-container{
    background-color: #F26925;
    width: 550px;
    height: 520px;
    margin: 1em auto;
    border-radius: 0px;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.14);
    padding: 2rem;
}
