

<div class="checkout-container">
    <div id="shipping-form"> 
        <h2 id="checkout-title"> Checkout</h2>
        <h5> Enter your Shipping Address</h5>
        <form class="row g-3 ">
            <div class="col-12">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ship-check" (click)="toggleBilling()">
                <label class="form-check-label" for="gridCheck">
                    Use shipping address for billing
                </label>
                </div>
            </div>
            <div class="col-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">First Name</label>
                <input type="first-name" class="form-control" id="input-first-name">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Last Name</label>
                <input type="last-name" class="form-control" id="input-last-name">
            </div>
            <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select" name="states" [(ngModel)]="checkout.states">
                <option value="" selected>Choose...</option>
                <option>...</option>
            </select>
            </div>
            <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip">
            </div>
            
            <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit order</button>
            </div>
        </form>
    </div>
    <div id="Billing-form" *ngIf="!this.useShipping"> 
        <h2 id="checkout-title"> Checkout</h2>
        <h5> Enter your Shipping Address</h5>
        <form class="row g-3 ">
            
            <div class="col-12">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">First Name</label>
                <input type="first-name" class="form-control" id="input-first-name">
              </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Last Name</label>
                <input type="last-name" class="form-control" id="input-last-name">
              </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Submit order</button>
            </div>
          </form>
        </div>

    
</div>